.about {
  padding: 46px 0;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    width: 100%;
    font-weight: 800;
    font-size: 45px;
    line-height: 1.2;
    color: #009bb7;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 60px;
      height: 3px;
      border-radius: 1px;
      background: linear-gradient(225deg, #f76680 0%, #009bb7 100%);
    }

    @include media(1080) {
      font-size: 40px;
    }

    @include media(950) {
      font-size: 35px;
    }

    @include media(760) {
      font-size: 30px;
    }

    @include media(425) {
      font-size: 25px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: #1a202c;
    text-align: center;
    margin-bottom: 50px;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      width: 100%;
      font-weight: 800;
      font-size: 35px;
      line-height: 1.2;
      color: #009bb7;
      text-align: center;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::before {
        content: "";
        display: inline-block;
        width: 60px;
        height: 3px;
        border-radius: 1px;
        background: linear-gradient(225deg, #f76680 0%, #009bb7 100%);
      }

      @include media(1080) {
        font-size: 30px;
      }

      @include media(950) {
        font-size: 25px;
      }

      @include media(760) {
        font-size: 20px;
      }
    }
    &-collapse {
      width: 100%;
      margin-bottom: 50px;

      & .el-collapse-item__header {
        background: #009bb7;
        border-radius: 7px;
        padding-left: 25px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        color: #fff;
      }

      & .el-collapse-item__content {
        background: rgba(0, 156, 183, 0.2);
        border-radius: 0 0 7px 7px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
    }
    &-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2;
      color: #1a202c;

      & span {
        font-weight: 700;
      }
    }
  }
}
