.services {
	background: rgba(0, 156, 183, 0.1);
	padding: 46px 0;
	border: 1px solid #009bb7;

	&__title {
		width: 100%;
		font-weight: 800;
		font-size: 45px;
		line-height: 1.2;
		color: #1a202c;
		text-align: center;
		margin-bottom: 73px;
		display: flex;
		flex-direction: column;
		align-items: center;

		&::before {
			content: '';
			display: inline-block;
			width: 60px;
			height: 3px;
			border-radius: 1px;
			background: linear-gradient(225deg, #f76680 0%, #009bb7 100%);
		}

		@include media(1080) {
			font-size: 40px;
		}

		@include media(950) {
			font-size: 35px;
		}

		@include media(760) {
			font-size: 30px;
		}

		@include media(425) {
			font-size: 25px;
		}
	}

	&__swiper {
		width: 100% !important;
		height: 420px !important;
		padding-left: 50px !important;
		cursor: pointer;

		@include media(800) {
			padding-left: 0 !important;
		}

		&-slide {
			width: 300px !important;
			height: 350px !important;
			background: linear-gradient(225deg, #f76680 0%, #009bb7 100%);
			border-radius: 7px;
			padding: 2px;
			overflow: hidden;

			&-content {
				background: #fff;
				height: 100%;
				width: 100%;
				border-radius: calc(7px - 2px);
				padding: 16px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
			}

			&-icon {
				width: 58px;
				height: 58px;
				border-radius: 50%;
				background: linear-gradient(225deg, #f76680 0%, #009bb7 100%);
				padding: 2px;
				display: flex;
				align-items: center;
				justify-content: center;

				&-bg {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					background: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				& img {
					width: 35px;
					height: 35px;
					object-fit: contain;
				}
			}

			&-title {
				font-weight: 600;
				font-size: 20px;
				line-height: 1.2;
				background: -webkit-linear-gradient(225deg, #f76680 0%, #009bb7 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				margin-bottom: 15px;
			}

			&-info {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
			}

			&-text {
				font-weight: 400;
				font-size: 14px;
				line-height: 1.2;
				color: #4a5568;
				text-wrap: wrap;
				display: flex;
				align-items: center;
				gap: 5px;

				&::before {
					content: '-';
					margin-right: 5px;
				}
			}
		}
	}
}

.swiper-slide-active {
	margin-top: 20px !important;
}
