$mainFont: "Inter";

$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;

// Main color
$default-color: #ffffff;
$body-bg-color: #f5f6fa;
$primary-color: #009bb7;
$main-text-color: #474747;
$secondary-text-color: #707b81;
$success-color: #06a561;
$success-bg-color: #c4f8e2;
$danger-color: #ff3b30;
$danger-bg-color: #fedada;
$warning-color: #ce8228;
$warning-bg-color: #faf1db;
$info-color: #007aff;
$info-bg-color: #d4e3f3;
$stable-color: #bc7710;
$stable-bg-color: #fdffb0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
